USE [Apollo.BusinessCard]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/28/2025 9:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessCard]    Script Date: 4/28/2025 9:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessCard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[GenderId] [int] NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastModified] [datetime2](7) NULL,
	[LastModifiedBy] [uniqueidentifier] NULL,
	[AttachmentId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_BusinessCard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessCardAttachment]    Script Date: 4/28/2025 9:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessCardAttachment](
	[Id] [uniqueidentifier] NOT NULL,
	[Base64File] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModified] [datetime2](7) NULL,
	[LastModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BusinessCardAttachment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenderLookup]    Script Date: 4/28/2025 9:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenderLookup](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_GenderLookup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240928025011_init', N'6.0.33')
GO
SET IDENTITY_INSERT [dbo].[BusinessCard] ON 

INSERT [dbo].[BusinessCard] ([Id], [Name], [GenderId], [DateOfBirth], [Email], [Phone], [Address], [IsDeleted], [Created], [LastModified], [LastModifiedBy], [AttachmentId], [CreatedBy]) VALUES (2, N'Alice Smith', 1, CAST(N'1990-03-15T00:00:00.0000000' AS DateTime2), N'alice.smith@example.com', N'1234567890', N'123 Main St', 0, CAST(N'2025-04-27T02:02:50.450' AS DateTime), NULL, NULL, N'863040e2-521b-4955-bc5a-0cf0eeba6c75', N'e6dde06b-f894-4a3c-8800-c4e0350ff1db')
INSERT [dbo].[BusinessCard] ([Id], [Name], [GenderId], [DateOfBirth], [Email], [Phone], [Address], [IsDeleted], [Created], [LastModified], [LastModifiedBy], [AttachmentId], [CreatedBy]) VALUES (3, N'Bob Johnson', 2, CAST(N'1985-07-22T00:00:00.0000000' AS DateTime2), N'bob.johnson@example.com', N'9876543210', N'456 Elm St', 1, CAST(N'2025-04-27T02:02:50.450' AS DateTime), CAST(N'2025-04-28T03:37:02.2286925' AS DateTime2), NULL, N'd142291a-31dd-4b0d-bcca-1c92b7b11867', N'69ef87e4-ce0d-4289-989c-660ec5a74986')
INSERT [dbo].[BusinessCard] ([Id], [Name], [GenderId], [DateOfBirth], [Email], [Phone], [Address], [IsDeleted], [Created], [LastModified], [LastModifiedBy], [AttachmentId], [CreatedBy]) VALUES (4, N'Charlie Brown', 1, CAST(N'1992-11-05T00:00:00.0000000' AS DateTime2), N'charlie.brown@example.com', N'1112223333', N'789 Oak St', 0, CAST(N'2025-04-27T02:02:50.450' AS DateTime), NULL, NULL, N'12a32d03-0197-481f-945b-226ef1282852', N'3bebd24c-2dde-4dba-9b6f-01dfdb61762c')
SET IDENTITY_INSERT [dbo].[BusinessCard] OFF
GO
INSERT [dbo].[BusinessCardAttachment] ([Id], [Base64File], [IsDeleted], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (N'863040e2-521b-4955-bc5a-0cf0eeba6c75', N'', 0, CAST(N'2025-04-27T01:56:23.663' AS DateTime), N'e250a0fa-490d-48f8-a32a-5002fd566f7c', NULL, NULL)
INSERT [dbo].[BusinessCardAttachment] ([Id], [Base64File], [IsDeleted], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (N'd142291a-31dd-4b0d-bcca-1c92b7b11867', N'', 0, CAST(N'2025-04-27T01:56:23.663' AS DateTime), N'8c8636dc-121f-413d-8069-adaa792b0ba8', NULL, NULL)
INSERT [dbo].[BusinessCardAttachment] ([Id], [Base64File], [IsDeleted], [Created], [CreatedBy], [LastModified], [LastModifiedBy]) VALUES (N'12a32d03-0197-481f-945b-226ef1282852', N'', 0, CAST(N'2025-04-27T01:56:23.663' AS DateTime), N'96fe4170-826e-45ac-8953-fd40c06c45fd', NULL, NULL)
GO
INSERT [dbo].[GenderLookup] ([Id], [Name], [IsDeleted]) VALUES (1, N'Male', 0)
INSERT [dbo].[GenderLookup] ([Id], [Name], [IsDeleted]) VALUES (2, N'Female', 0)
GO
ALTER TABLE [dbo].[BusinessCard] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BusinessCard] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[BusinessCard] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [AttachmentId]
GO
ALTER TABLE [dbo].[BusinessCard] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[BusinessCardAttachment] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BusinessCardAttachment] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[GenderLookup] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BusinessCard]  WITH CHECK ADD  CONSTRAINT [FK_BusinessCard_BusinessCardAttachment_AttachmentId] FOREIGN KEY([AttachmentId])
REFERENCES [dbo].[BusinessCardAttachment] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessCard] CHECK CONSTRAINT [FK_BusinessCard_BusinessCardAttachment_AttachmentId]
GO
ALTER TABLE [dbo].[BusinessCard]  WITH CHECK ADD  CONSTRAINT [FK_BusinessCard_GenderLookup_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[GenderLookup] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessCard] CHECK CONSTRAINT [FK_BusinessCard_GenderLookup_GenderId]
GO
